*{
 margin:0px;
 padding:0px;
}

.header{
    background:red;
    /* padding: top right bottom left;
    padding: 10 10 20 10
    padding: top-bottom left-right
    padding:10 20
    padding: top-bottom-left-right
    padding:10 */    
}

.header #logo img{
    width: 150px;
    height: 50px;    
}

.header #logo, .header #heading{
    float: left;
}

.header #heading{
    color:#fff;
    margin-left:55px;
    margin-top: 7px;
}

.nav-bar{
    background:greenyellow;
    height: 20px;
    
}

.nav-bar ul{
    list-style-type: none;
    margin-left:350px    
}


.nav-bar ul li{
    float: left;
    background:crimson;
    margin:0px 15px;
    padding:0px 10px;
    
}
.nav-bar ul li a{
    text-decoration:none;
    color:#777;
}

.menu{
    height:700px;
    width: 15%;
    background:yellow;
    float: left;
}

.menu ul{
    list-style-type: none;
    margin-left: 20px
}

.menu ul li{
    margin:5px 0px;
}

.menu ul li a{
    list-style-type: none;
}

.content-area{
    height:700px;
    width: 70%;
    background:pink;
    float: left;
    
}

.advt{
    height:700px;
    width:15%;
    background:green;
    float: left;
}


.footer{
    background:lightcoral;
    height: 30px;
}

.clear-fix{
    clear: both;
}


.playground{
    width: 150px;
    height: 150px;
    background:#fff;
    margin:50px auto;
    /* border: border-widht border-style border-color */
    /* solid dashed dotted groove */
    border:2px groove gray;
    border-radius: 500px;
    box-shadow: 4px 9px 7px gray;
}