*{
    margin: 0px;
    padding: 0px;
}

h1{
    background:red;
}

a{
    background:yellow
}

h1{
    /* display: none | inline  | block | inline-block; */
    /* visibility: hidden; */
    /* margin: top right bottom left */
    /* margin: top-bottom left-right; */
    /* margin: top-bottome-left-right; */
    /* margin: 10px ; */
    /* margin-top:30px;
    padding:10px */


}

div{
    background:green;
    width: 150px;
    height: 150px;
    border:10px groove grey;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border-bottom-style: dotted;
    border-right-style: dotted;
    /* border-top-width: 10px;
    border-top-color: black;
    border-top-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: red;
    border-bottom-style: solid; */
    box-shadow: 3px 3px 5px gray;
}